img {
    display: block;
    width: 300px;
    height: auto;
    margin: 12px auto 12px auto;
}

h1 {
    text-align: center;
    border: 4px solid black;
    background-color: yellow;
    margin: 24px 360px 8px 360px;
}

li{
    text-align: justify;
    padding: 4px;
    margin: 4px 16px 4px 16px;
}

p{
    padding: 4px;
    margin-left: 24px;
    text-align: center;
}

.desc{
    background-color: aquamarine;
}

.list{
    background-color: bisque;
}

.steps{
    background-color: lightgreen;
}

.menu{
    background-color: lightskyblue;
    margin: 24px 300px 24px 300px;
    padding: 8px;
}

.alt{
    background-color: lightgreen;
}

.head{
    padding: 4px;
    text-align: center;
}

.link{
    padding: 8px;
    text-align: center;
    font-size: 18px;
}